
.implement__content{
  display: flex;
  align-items:center;
  // justify-content: space-between;
}
.implement__img{
  border-radius: 8px;
  margin-right: 115px;
  width: 550px;
  height: 370px;
  margin-left: -50px;
}
// .implement__right-content{
//   width: 350px;
// }
.implement__title{
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536b;
  margin-bottom: 24px;
}
.implement__text{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6c8294;
}
.implement__text-width{
  width: 410px;
}